/* Esri Developer & Technology Summit Demo Template */
/* Demo template supporting styles */

html,
body,
arcgis-map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

calcite-menu-item {
  --calcite-color-foreground-1: var(--calcite-color-background);
}

calcite-navigation-logo {
  --calcite-ui-icon-color: var(--calcite-color-brand);
}

calcite-action-pad {
  margin-inline-end: 0.5rem;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-color-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}

calcite-panel calcite-notice {
  margin: 1rem;
  width: calc(100% - 2rem);
}

calcite-shell-panel {
  --calcite-shell-panel-min-width: 30vw;
  --calcite-shell-panel-min-height: 30vh;
}

calcite-shell-panel[slot="panel-top"] {
  --calcite-color-brand: #00c291;
  --calcite-color-brand-hover: #00ad82;
  --calcite-color-brand-press: #00916d;
  --calcite-color-background: #f2f7f4;
  --calcite-color-foreground-1: #fafffd;
  --calcite-color-foreground-2: #edf7f3;
  --calcite-color-foreground-3: #e4ebe8;
  --calcite-color-foreground-current: #c7ffda;
  --calcite-color-info: #007f99;
  --calcite-color-success: #47ac35;
  --calcite-color-warning: #eeb417;
  --calcite-color-danger: #d92024;
  --calcite-color-danger-hover: #a91e20;
  --calcite-color-danger-press: #7c1315;
  --calcite-color-text-1: #222927;
  --calcite-color-text-2: #333d3a;
  --calcite-color-text-3: #3a4541;
  --calcite-color-text-inverse: #fafffd;
  --calcite-color-text-link: #04716c;
  --calcite-color-border-1: #c3c7c5;
  --calcite-color-border-2: #cdd4d0;
  --calcite-color-border-3: #dfe8e3;
  --calcite-color-border-input: #727d77;
}
calcite-shell-panel[slot="panel-top"] {
  --calcite-color-brand: #00c291;
  --calcite-color-brand-hover: #00ad82;
  --calcite-color-brand-press: #00916d;
  --calcite-color-background: #f2f7f4;
  --calcite-color-foreground-1: #fafffd;
  --calcite-color-foreground-2: #edf7f3;
  --calcite-color-foreground-3: #e4ebe8;
  --calcite-color-foreground-current: #c7ffda;
  --calcite-color-info: #007f99;
  --calcite-color-success: #47ac35;
  --calcite-color-warning: #eeb417;
  --calcite-color-danger: #d92024;
  --calcite-color-danger-hover: #a91e20;
  --calcite-color-danger-press: #7c1315;
  --calcite-color-text-1: #222927;
  --calcite-color-text-2: #333d3a;
  --calcite-color-text-3: #3a4541;
  --calcite-color-text-inverse: #fafffd;
  --calcite-color-text-link: #04716c;
  --calcite-color-border-1: #c3c7c5;
  --calcite-color-border-2: #cdd4d0;
  --calcite-color-border-3: #dfe8e3;
  --calcite-color-border-input: #727d77;
}

calcite-shell-panel[slot="panel-bottom"] {
  --calcite-color-brand: #8f4a89;
  --calcite-color-brand-hover: #823b7c;
  --calcite-color-brand-press: #7d3b77;
  --calcite-color-background: #fff2ff;
  --calcite-color-foreground-1: #fffaff;
  --calcite-color-foreground-2: #f8ebfa;
  --calcite-color-foreground-3: #f7daf7;
  --calcite-color-foreground-current: #f5c6f5;
  --calcite-color-info: #b382d9;
  --calcite-color-success: #40c437;
  --calcite-color-warning: #f1a71e;
  --calcite-color-danger: #d93820;
  --calcite-color-danger-hover: #a9321e;
  --calcite-color-danger-press: #841410;
  --calcite-color-text-1: #383239;
  --calcite-color-text-2: #3d373e;
  --calcite-color-text-3: #443e47;
  --calcite-color-text-inverse: #f6f0f7;
  --calcite-color-text-link: #7e3ba3;
  --calcite-color-border-1: #d1c0d1;
  --calcite-color-border-2: #e3d3e3;
  --calcite-color-border-3: #ebd8ed;
  --calcite-color-border-input: #a39fa2;
}

calcite-shell-panel[slot="panel-end"] {
  --calcite-color-brand: #308e29;
  --calcite-color-brand-hover: #267121;
  --calcite-color-brand-press: #1d5519;
  --calcite-color-background: #faf3e3;
  --calcite-color-foreground-1: #fffaed;
  --calcite-color-foreground-2: #fae9c8;
  --calcite-color-foreground-3: #fce5b6;
  --calcite-color-foreground-current: #ebd09d;
  --calcite-color-info: #267121;
  --calcite-color-success: #308e29;
  --calcite-color-warning: #f1c21b;
  --calcite-color-danger: #d83020;
  --calcite-color-danger-hover: #a82b1e;
  --calcite-color-danger-press: #851012;
  --calcite-color-text-1: #3a3335;
  --calcite-color-text-2: #3d3638;
  --calcite-color-text-3: #463d40;
  --calcite-color-text-inverse: #ffffff;
  --calcite-color-text-link: #267121;
  --calcite-color-border-1: #e6ddd1;
  --calcite-color-border-2: #e8e1dc;
  --calcite-color-border-3: #e6ddd1;
  --calcite-color-border-input: #a1a19e;
}
/* Esri Developer & Technology Summit Demo Template */
/* App-specific supporting styles below */
